/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: hsl(0, 56%, 50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px hsla(184, 78%, 42%, 0.959);
    width: 100%;
    max-width: 400px;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, hsla(48, 76%, 31%, 0.909), hsla(20, 31%, 25%, 0.895));
    color: hsl(0, 16%, 13%);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.6;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #4a5568;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #4299e1;
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

button {
    padding: 10px;
    background-color: hsl(302, 70%, 49%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(113, 62%, 50%);
}

a {
    color: hwb(63 20% 9% / 0.596);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-center a {
    display: inline-block;
    margin-top: 15px;
}
